# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Logs
logs/
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# PyInstaller / Nuitka
*.spec
*.build/
*.dist/
*.onefile-build/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
